<script>
if(localStorage.getItem('usuario') == null || localStorage.getItem('usuario') == undefined){
    window.location = "/login";
    console.log("login")
}</script>
<!--<ul class="list-group">
  {{#each usuarios}}
    <a href="/usuarios/{{id}}" class="list-group-item">{{nombre}}</a>
  {{/each}}
</ul>
<a type="button" class="btn btn-default btn-primary" href="/usuarios/agregar">
  Nuevo Usuario
</a>-->

<div class="row justify-content-between bg-light modal-body" id="menu">
    <div><img src="../../images/Logo.png" width="250px"></div>
    <br>
    <a href="/admin" class="btn btn-danger">Admin</a>
</div>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Foto de Perfil</th>
        <th>Nombre</th>
        <th>Usuario</th>
    </tr>
    </thead>
    <tbody>
  {{#each usuarios}}
    <tr>
        <td><img src="{{foto_perfil}}" class="img-perfil" width="50" height="50"></td>
        <td>{{nombre}}</td>
        <td>{{usuario}}</td>
        <td><a href="/usuarios/{{id}}/edit" class="btn btn-primary" role="button">Editar</a></td>
        <td><a href="/usuarios/{{id}}" class="btn btn-primary" role="button">Ver</a></td>
    </tr>
  {{/each}}
    </tbody>
</table>



<div class="row">
  <div class="col-xs-12">
    <a type="button" class="btn btn-default btn-primary" href="/usuarios/agregar">Nuevo Usuario</a>
  </div>
</div>

