<script>
if(localStorage.getItem('usuario') == null || localStorage.getItem('usuario') == undefined){
    window.location = "/login";
    console.log("login")
}</script>
<div class="row justify-content-between bg-light modal-body" id="menu">
    <div><img src="../../images/Logo.png" width="250px"></div>
</div>
<a href="/preguntas">Ir lista preguntas</a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{pregunta.pregunta}}</h3>
  </div>
  <div class="panel-body">

<ul>
    <li>
      <p>{{pregunta.pregunta_1}}</p>
      <img src="{{pregunta.pregunta_1_img}}" width="50" height="50">
    </li>

    <li>
      <p>{{pregunta.pregunta_2}}</p>
      <img src="{{pregunta.pregunta_2_img}}" width="50" height="50">
    </li>

    <li>
      <p>{{pregunta.pregunta_3}}</p>
      <img src="{{pregunta.pregunta_3_img}}" width="50" height="50">
    </li>

    <li>
      <p>{{pregunta.pregunta_4}}</p>
      <img src="{{pregunta.pregunta_4_img}}" width="50" height="50">
    </li>
</ul>
  </div>
  <div class="panel-footer">
    <img src="{{pregunta.foto_perfil}}" alt="">
  </div>
</div>
<form action="/preguntas/{{pregunta.id}}?_method=DELETE" method="post">

  <a href="/preguntas/{{pregunta.id}}/edit" type="button" class="btn btn-default btn-warning">
    Editar
  </a>
  <button type="submit" class="btn btn-default btn-danger">
    Eliminar
  </button>
</form>