<script>
if(localStorage.getItem('usuario') == null || localStorage.getItem('usuario') == undefined){
    window.location = "/login";
    console.log("login")
}</script>
<!--<ul class="list-group">
  {{#each usuarios}}
    <a href="/usuarios/{{id}}" class="list-group-item">{{nombre}}</a>
  {{/each}}
</ul>
<a type="button" class="btn btn-default btn-primary" href="/usuarios/agregar">
  Nuevo Usuario
</a>-->
<div class="row justify-content-between bg-light modal-body" id="menu">
    <div><img src="../../images/Logo.png" width="250px"></div>
    <br>
    <a href="/admin" class="btn btn-danger">Admin</a>
</div>
<div class="row">
  {{#each excursiones}}
  <div class="col-sm-6 col-md-4">
    
    <div class="thumbnail">
      <img src="{{portada}}" class="img-perfil">
      <div class="caption">
        <h3>{{titulo}}</h3>
        <p>{{descripcion}}</p>
        <p><b>Creditos:</b> {{creditos}}</p>
        <p>
          <a href="/excursiones/{{id}}/edit" class="btn btn-primary" role="button">Editar</a>

          <a href="/excursiones/{{id}}" class="btn btn-primary" role="button">Ver</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<div class="row">
  <div class="col-xs-12">
    <a type="button" class="btn btn-default btn-primary" href="/excursiones/agregar">Nueva Excursion</a>
  </div>
</div>