<!-- Modal -->
<link rel="stylesheet" href="/css/admin.css">
  <div class="modal fade" id="pregunta" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="pregunta-capitulo"></h4>
      </div>
      <div class="modal-body">

        <div>
          <label><div class="jumbotron bg-info w-150 p-3">
                <div class="radio">
            <input type="radio" name="opcion" value="1" id="capitulo-opcion1">
            <img src="" id="capitulo-opcion1-img" width="150" height="150"/>
          </div>
        </div>
      </label>

          <label><div class="jumbotron bg-info w-75 p-3">
                <div class="radio">
            <input type="radio" name="opcion" value="2" id="capitulo-opcion2">
            <img src="" id="capitulo-opcion2-img" width="150" height="150"/>
          </div></div></label>

          <label><div class="jumbotron bg-info w-75 p-3">
                <div class="radio">
            <input type="radio" name="opcion" value="3" id="capitulo-opcion3">
            <img src="" id="capitulo-opcion3-img" width="150" height="150"/>
          </div></div></label>

          <label><div class="jumbotron bg-info w-75 p-3">
                <div class="radio">
            <input type="radio" name="opcion" value="4" id="capitulo-opcion4">
            <img src="" id="capitulo-opcion4-img" width="150" height="150"/>
          </div></div></label>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-success" data-dismiss="modal" id="verificarRespuesta">Verificar</button>
      </div>
    </div>
  </div>
</div>



<div class="row justify-content-between bg-light modal-body" id="menu">

     <div><a href="../"> <img src="../../images/Logo.png" width="250px"></a></div>

    <div class=" text-right rem">
        <a href="../iniciar" class="btn btn-success"><span class="fa fa-arrow-left" style="font-size: 36px"></span></a>
       <a href="/" id="salir" class="btn btn-danger"><span class="fa fa-sign-out" style="font-size: 36px"></span></a>
    </div>

    <div class="text-center rem">
        <h1 class="title">Capítulos</h1>
    </div>
</div>
<!-- inicio div capitulos -->
<div class=" panel panel-footer">
  <div class="panel-heading">
    <img src="{{excursion.portada}}" class="img-circle float-right" width="50" height="50">
    <h2 class="panel-title text-center">{{excursion.titulo}}</h2>
    <p class="text-center">
      {{excursion.descripcion}}
    </p>
  </div>
  <div class="panel-footer text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{capitulos.0.youtube_url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="video"></iframe>
  </div>

  <div class="panel-footer text-center">
    {{#each capitulos}}
      <div class="ver_cap" onclick="cargarVideo({{id}})">
        <img src="{{portada}}" alt="" class="img-responsive">
        <div class="hidden">{{titulo}}</div>
      </div>
    {{/each}}
  </div>
 <br><br>
  <div class="panel-footer text-center">
    <a href="#" id="verpregunta" class="btn btn-info btn-lg fa fa-music"></a>
  </div>
</div>

<script>
  var url = window.location.origin;
  var id = localStorage.getItem('id_nino');
  localStorage.setItem('id_capitulo', {{capitulos.0.id}});


  $("#verificarRespuesta").on('click', function(e) {

    e.preventDefault();
    console.log($("input:checked").val())
    let opcion = $("input:checked").val();

    if (opcion != undefined) {

      if(parseInt(opcion) == parseInt(localStorage.getItem("respuesta"))){


        alert("Respuesta correcta")
        /*$.getJSON( url+"/usuarios/"+id+"/puntos", function( data ) {
    console.log(data)
    //Descomentar para sumarle 1 punto cuando conteste correctamente
  });
  */
      }else {
        alert("Respuesta incorrecta")
      }

    }else{
      alert("No haz seleccionado una opcion")
    }
    $("#capitulo-opcion1").attr('checked', true)
    $("#capitulo-opcion2").attr('checked', true)
    $("#capitulo-opcion3").attr('checked', true)
    $("#capitulo-opcion4").attr('checked', true)


    $("#capitulo-opcion1").attr('checked', false)
    $("#capitulo-opcion2").attr('checked', false)
    $("#capitulo-opcion3").attr('checked', false)
    $("#capitulo-opcion4").attr('checked', false)

    console.log(opcion)

  })
  $("#verpregunta").on('click', function(e){
    e.preventDefault();

    console.log("click")
    let id_capitulo = localStorage.getItem('id_capitulo');
    $.getJSON( url+"/preguntas/consultar/"+id_capitulo, function( data ) {

      let pregunta = data[0];
      $("#pregunta-capitulo").text(""+pregunta.pregunta);
      $("#capitulo-opcion1-img").attr("src", pregunta.pregunta_1_img);
      $("#capitulo-opcion2-img").attr("src", pregunta.pregunta_2_img);
      $("#capitulo-opcion3-img").attr("src", pregunta.pregunta_3_img);
      $("#capitulo-opcion4-img").attr("src", pregunta.pregunta_4_img);

      localStorage.setItem("respuesta", pregunta.respuesta)

      $('#pregunta').modal('show');
      console.log(data)
    });

  });
// funcion que hace que se sume un punto a excursion
  $.getJSON( url+"/usuarios/"+id+"/puntos", function( data ) {
    console.log(data)
  });

  function guardarIDCapitulo(id) {
    localStorage.setItem('id_capitulo', id)
}

  function cargarVideo(id){
//http://localhost:3000/capitulos/1/ver
console.log(id)
let xhr = new XMLHttpRequest();
xhr.open('GET', url+"/capitulos/"+id+"/ver", true);
xhr.send();
xhr.onreadystatechange = function(e) {

if (xhr.readyState == 4 && xhr.status == 200) {
var response = JSON.parse(xhr.responseText);
console.log(response)
guardarIDCapitulo(response.id);
$("#video").attr("src", "https://www.youtube.com/embed/"+response.youtube_url)
    }
  };
}
</script>
