<script>
if(localStorage.getItem('usuario') == null || localStorage.getItem('usuario') == undefined){
    window.location = "/login";
    console.log("login")
}</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" src="../../images/Logo.png">
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/admin">Admin</a></li>
      <li ><a href="/usuarios">Usuarios</a></li>
      <li ><a href="/excursiones">Excursiones</a></li>
      <li ><a href="/capitulos">Capitulos</a></li>
      <li ><a href="/preguntas">Preguntas</a></li>
    </ul>
  </div>
</nav> 
<!--<ul class="list-group">
  {{#each usuarios}}
    <a href="/usuarios/{{id}}" class="list-group-item">{{nombre}}</a>
  {{/each}}
</ul>
<a type="button" class="btn btn-default btn-primary" href="/usuarios/agregar">
  Nuevo Usuario
</a>-->



<table class="table table-bordered">
    <thead>
    <tr>
        <th>Titulo</th>
        <th>Video</th>
    </tr>
    </thead>
    <tbody>
  {{#each capitulos}}
    <tr>
        <td>{{titulo}}</td>
        <td><iframe width="200" height="150" src="https://www.youtube.com/embed/{{youtube_url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
        
          <td><a href="/capitulos/{{id}}/edit" class="btn btn-primary" role="button">Editar</a></td>

          <td><a href="/capitulos/{{id}}" class="btn btn-primary" role="button">Ver</a></td>
        
    </tr>
  {{/each}}
    </tbody>
</table>


<div class="row">
  <div class="col-xs-12">
    <a type="button" class="btn btn-default btn-primary" href="/capitulos/agregar">Nuevo Capítulo</a>
  </div>
</div>